<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<body>

<div th:fragment="navbar">

<nav class="navbar">

    <!-- LEFT : LOGO -->
    <div class="nav-left">
        <a th:href="@{/}" class="logo">Bazaar</a>
    </div>

    <!-- CENTER : NAVIGATION LINKS -->
    <div class="nav-center">
        <a th:href="@{/products(category='oversized-shirt')}">Oversized Shirt</a>
        <a th:href="@{/products(category='polo-shirt')}">Polo Shirt</a>
        <a th:href="@{/products(category='slim-fit-shirt')}">Slim Fit Shirt</a>
        <a th:href="@{/products(category='baggy-pant')}">Baggy Pant</a>
        <a th:href="@{/products(category='oversized-tshirt')}">Oversized T-Shirt</a>
        <a th:href="@{/products(category='oversized-sweatshirt')}">Oversized Sweatshirt</a>
        <a th:href="@{/products(category='cropped-jacket')}">Cropped Jacket</a>
        <a th:href="@{/products(category='oversized-hoodie')}">Oversized Hoodie</a>
        <a th:href="@{/products(category='limited-offer')}">Limited Offer</a>
    </div>

    <!-- RIGHT : ICONS -->
    <div class="nav-right">

        <!-- When NOT logged in -->
        <div sec:authorize="isAnonymous()" style="display:contents">
            <a th:href="@{/login}" class="icon" title="Login"><i class="fa-solid fa-user"></i></a>
            <a th:href="@{/cart}" class="icon" title="Cart"><i class="fa-solid fa-cart-shopping"></i></a>
        </div>

        <!-- When logged in -->
        <div sec:authorize="isAuthenticated()" style="display:contents">
            <a th:href="@{/profile}" class="icon nav-username" title="My Profile">
                <i class="fa-solid fa-circle-user"></i> <span sec:authentication="name"></span>
            </a>
            <a th:href="@{/cart}" class="icon" title="Cart"><i class="fa-solid fa-cart-shopping"></i></a>
            <a sec:authorize="hasRole('ADMIN')" th:href="@{/admin}" class="icon" title="Admin Panel"><i class="fa-solid fa-gear"></i></a>
        </div>

    </div>

</nav>

</div>

</body>
</html>